<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>FrostWave</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<canvas id="snow"></canvas>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/history">History</a>
    <a href="/albums">Albums</a>
    <a href="/login">Login</a>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='js/snow.js') }}"></script>
</body>
</html>
