{% extends "base.html" %}
{% block content %}
<h1>{% if album %}Editing{% else %}Adding{% endif %} album</h1>

<form method="post">
    <input type="text" name="title" placeholder="Album title"
           value="{{ album.title if album }}">
    <input type="text" name="year" placeholder="Year of release"
           value="{{ album.year if album }}">
    <textarea name="description" placeholder="Album description">{{ album.description if album }}</textarea>
    <button type="submit">Save</button>
</form>
{% endblock %}
